In [1]:
! huggingface-cli login

/bin/bash: huggingface-cli: command not found

In [2]:
import pandas as pd
import numpy as np
import collections

In [3]:
from datasets import load_dataset, concatenate_datasets

access_token = "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"


dataset = load_dataset("common_voice", "en",
                  use_auth_token=True, split=['train', 'test', 'validation'])

/home/students/s289159/.conda/envs/audio-env/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading and preparing dataset common_voice/en (download: 56.45 GiB, generated: 84.74 GiB, post-processed: Unknown size, total: 141.19 GiB) to /home/students/s289159/.cache/huggingface/datasets/common_voice/en/6.1.0/a1dc74461f6c839bfe1e8cf1262fd4cf24297e3fbd4087a711bd090779023a5e...

Dataset common_voice downloaded and prepared to /home/students/s289159/.cache/huggingface/datasets/common_voice/en/6.1.0/a1dc74461f6c839bfe1e8cf1262fd4cf24297e3fbd4087a711bd090779023a5e. Subsequent calls will reuse this data.

100%|██████████| 3/3 [02:35<00:00, 51.97s/it]

In [4]:
dataset

[Dataset({
     features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
     num_rows: 564337
 }),
 Dataset({
     features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
     num_rows: 16164
 }),
 Dataset({
     features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
     num_rows: 16164
 })]

In [5]:
filtered_dataset = concatenate_datasets([dataset[0], dataset[1], dataset[2]], axis=0)

In [6]:
filtered_dataset

Dataset({
    features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
    num_rows: 596665
})

In [7]:
filtered_dataset[0]['gender']

'male'

In [8]:
training_genders = ["male", "female"]

In [9]:
filtered_dataset = filtered_dataset.filter(lambda example: (example['accent'] != '') and (example['gender'] in training_genders))

100%|██████████| 597/597 [1:16:07<00:00,  7.65s/ba]

In [10]:
accent_list = filtered_dataset["accent"]
age_list = filtered_dataset["age"]
locale_list = filtered_dataset["locale"]
gender_list = filtered_dataset["gender"]
path_list = filtered_dataset["path"]
client_id_list = filtered_dataset["client_id"]

In [11]:
filtered_data = {"accent":accent_list, 
                 "age":age_list, 
                 "gender":gender_list, 
                 "path":path_list,
                 "client_id":client_id_list}

In [12]:
df_filtered = pd.DataFrame(filtered_data)

In [13]:
df_filtered.head()

,accent,age,gender,path,client_id
0,us,fourties,male,/home/students/s289159/.cache/huggingface/data...,04960d53cc851eeb6d93f21a09e09ab36fe16943acb226...
1,us,teens,male,/home/students/s289159/.cache/huggingface/data...,2ff5127cfa30a1007f613c512819497823d2fd9cd2ff30...
2,us,sixties,male,/home/students/s289159/.cache/huggingface/data...,ba15cc6298a85b84cf7a02581b3ff0ea9f525eb69a199d...
3,us,sixties,male,/home/students/s289159/.cache/huggingface/data...,ba15cc6298a85b84cf7a02581b3ff0ea9f525eb69a199d...
4,canada,twenties,male,/home/students/s289159/.cache/huggingface/data...,6c3616ea8027a18037939930c951608602220d758ae731...

In [14]:
df_filtered.groupby(["gender"]).size()

gender
female     78970
male      222763
dtype: int64

In [15]:
df_filtered.groupby(["accent", "gender"]).size().reset_index()

            accent  gender       0
0          african  female     437
1          african    male    2741
2        australia  female    2901
3        australia    male   13083
4          bermuda  female      24
5          bermuda    male     141
6           canada  female    4665
7           canada    male   15860
8          england  female    8630
9          england    male   35538
10        hongkong  female     222
11        hongkong    male     960
12          indian  female    8431
13          indian    male   24943
14         ireland  female    1953
15         ireland    male    1889
16        malaysia  female     111
17        malaysia    male     449
18      newzealand  female     532
19      newzealand    male    2792
20           other  female       6
21           other    male     262
22     philippines  female     360
23     philippines    male    1608
24        scotland  female    4023
25        scotland    male    2165
26       singapore  female      93
27       singapore    male    1899
28  southatlandtic    male       5
29              us  female   46413
30              us    male  118292
31           wales  female     169
32           wales    male     136

In [16]:
df_filtered.groupby(["gender"]).size()

gender
female     78970
male      222763
dtype: int64

In [17]:
print(set(gender_list))

{'female', 'male'}

In [18]:
print(collections.Counter(accent_list))

Counter({'us': 164705, 'england': 44168, 'indian': 33374, 'canada': 20525, 'australia': 15984, 'scotland': 6188, 'ireland': 3842, 'newzealand': 3324, 'african': 3178, 'singapore': 1992, 'philippines': 1968, 'hongkong': 1182, 'malaysia': 560, 'wales': 305, 'other': 268, 'bermuda': 165, 'southatlandtic': 5})

In [19]:
print(collections.Counter(gender_list))

Counter({'male': 222763, 'female': 78970})

In [20]:
data = {"accent":accent_list, "age":age_list, "gender":gender_list, "path":path_list, "client_id":client_id_list}

In [21]:
df = pd.DataFrame(data)

In [22]:
df.head()

,accent,age,gender,path,client_id
0,us,fourties,male,/home/students/s289159/.cache/huggingface/data...,04960d53cc851eeb6d93f21a09e09ab36fe16943acb226...
1,us,teens,male,/home/students/s289159/.cache/huggingface/data...,2ff5127cfa30a1007f613c512819497823d2fd9cd2ff30...
2,us,sixties,male,/home/students/s289159/.cache/huggingface/data...,ba15cc6298a85b84cf7a02581b3ff0ea9f525eb69a199d...
3,us,sixties,male,/home/students/s289159/.cache/huggingface/data...,ba15cc6298a85b84cf7a02581b3ff0ea9f525eb69a199d...
4,canada,twenties,male,/home/students/s289159/.cache/huggingface/data...,6c3616ea8027a18037939930c951608602220d758ae731...

In [23]:
train_accents = ["us", "england"]
drift_accents = ["australia", "canada", "scotland"]

In [24]:
df_select_train = df.loc[df["accent"] != '']
df_select_train = df_select_train.loc[df_select_train["gender"] != '' ]
df_select_train_accent = df_select_train.loc[df_select_train['accent'].isin(train_accents)]

In [25]:
df_select_train_accent.groupby(["accent","gender"]).size().reset_index()

    accent  gender       0
0  england  female    8630
1  england    male   35538
2       us  female   46413
3       us    male  118292

In [26]:
df_select_train_accent.groupby(["gender"]).size()

gender
female     55043
male      153830
dtype: int64

In [27]:
training_labels = ["male", "female"]

In [28]:
df_select_train_gender = df_select_train_accent.loc[df_select_train_accent['gender'].isin(training_labels)]

In [29]:
df_select_train_gender.groupby(["gender"]).size()

gender
female     55043
male      153830
dtype: int64

In [30]:
df_select_train_gender.groupby(["accent","gender"]).size()

accent   gender
england  female      8630
         male       35538
us       female     46413
         male      118292
dtype: int64

In [31]:
min_samples = min(df_select_train_gender.groupby(["gender"]).size())
min_samples

55043

In [32]:
df_raw = df_select_train_gender.copy()

In [33]:
df_raw['gender'].unique()

array(['male', 'female'], dtype=object)

In [34]:
# Calculate the target number of samples for each gender group
target_samples = df_raw['gender'].value_counts().min()

balanced_dataset = pd.DataFrame()

# Iterate over each gender group
for gender in df_raw['gender'].unique():
    df_gender = df_raw[df_raw['gender'] == gender]
    count_us = len(df_gender[df_gender['accent'] == 'us'])
    count_england = len(df_gender[df_gender['accent'] == 'england'])
    
    # Determine the minimum number of samples between accents for the current gender
    min_accent_samples = min(count_us, count_england)
    
    # If possible, select an equal number of samples for each accent
    if 2 * min_accent_samples >= target_samples:
        samples_us = df_gender[df_gender['accent'] == 'us'].sample(n=target_samples//2)
        samples_england = df_gender[df_gender['accent'] == 'england'].sample(n=target_samples//2)
    else:
        # Otherwise, take all samples of the less represented accent
        samples_min_accent = df_gender[df_gender['accent'] == ('us' if count_us <= count_england else 'england')].sample(n=min_accent_samples)
        # And fill the remaining with the other accent
        remaining_samples = target_samples - min_accent_samples
        samples_other_accent = df_gender[df_gender['accent'] == ('england' if count_us <= count_england else 'us')].sample(n=remaining_samples)
        # Merge samples from both accents
        samples_us, samples_england = (samples_min_accent, samples_other_accent) if count_us <= count_england else (samples_other_accent, samples_min_accent)
    
    # Add the selected samples to the balanced dataset
    balanced_dataset = pd.concat([balanced_dataset, samples_us, samples_england])

# Reset the index for cleanliness
balanced_dataset.reset_index(drop=True, inplace=True)

In [35]:
balanced_dataset.groupby(['gender', 'accent']).size()

gender  accent
female  england     8630
        us         46413
male    england    27521
        us         27521
dtype: int64

In [36]:
balanced_dataset.groupby(['gender']).size()

gender
female    55043
male      55042
dtype: int64

In [37]:
balanced_dataset.head()

,accent,age,gender,path,client_id
0,us,twenties,male,/home/students/s289159/.cache/huggingface/data...,ae401ac9b603e8114e47c24496481e2b7303b8b698283b...
1,us,twenties,male,/home/students/s289159/.cache/huggingface/data...,97487f06db1f81b4fd18a0d296a5f5379ba0464cecdd9c...
2,us,teens,male,/home/students/s289159/.cache/huggingface/data...,6a8c1a14620661b745d0a2322f7003029fee9f696c0188...
3,us,,male,/home/students/s289159/.cache/huggingface/data...,bdb924b5e7e5e9815f7405a4e129f188814f50ec9ba3f6...
4,us,fourties,male,/home/students/s289159/.cache/huggingface/data...,56ef6218bdd27655fae9f85f0a18b0cc608586fd0a9709...

In [38]:
print(len(balanced_dataset))

110085

In [39]:
def fill_splits_balanced_by_gender(df, group_col, stratify_col, total_split_sizes):
    # Initialize the splits as empty DataFrames
    splits = {'train': pd.DataFrame(), 'validation': pd.DataFrame(), 'test': pd.DataFrame()}
    
    # Calculate the total number of samples needed in each split for each gender group
    total_counts = df[stratify_col].value_counts()
    split_targets = {gender: {split: int(count * size) for split, size in total_split_sizes.items()}
                     for gender, count in total_counts.items()}

    for gender in df[stratify_col].unique():
        gender_df = df[df[stratify_col] == gender]
        
        # Rank clients within this gender group by their number of samples
        client_counts = gender_df[group_col].value_counts().sort_values(ascending=False)
        
        for split, target in split_targets[gender].items():
            current_split_count = 0
            
            while current_split_count < target and not client_counts.empty:
                # Select the top client and their data
                top_client = client_counts.index[0]
                client_data = gender_df[gender_df[group_col] == top_client]
                
                # Update the count and remove the client from consideration
                current_split_count += len(client_data)
                client_counts = client_counts.drop(top_client)
                
                # Add the client's data to the split
                splits[split] = pd.concat([splits[split], client_data])
                
                # If the target for this split and gender group is reached, move to the next split
                if current_split_count >= target:
                    break

    # Shuffle each split
    for split in splits:
        splits[split] = splits[split].sample(frac=1).reset_index(drop=True)

    return splits['train'], splits['validation'], splits['test']

# Define the total size proportions for each split
total_split_sizes = {'train': 0.64, 'validation': 0.09, 'test': 0.27}

# Execute the function to get the balanced splits
train_df, validation_df, test_df = fill_splits_balanced_by_gender(balanced_dataset, 'client_id', 'gender', total_split_sizes)

In [40]:
print(len(train_df))
print(len(validation_df))
print(len(test_df))

70578
9951
29556

In [41]:
train_df.groupby(['gender']).size()

gender
female    35307
male      35271
dtype: int64

In [42]:
test_df.groupby(['gender']).size()

gender
female    14740
male      14816
dtype: int64

In [43]:
validation_df.groupby(['gender']).size()

gender
female    4996
male      4955
dtype: int64

In [44]:
train_df.groupby(['gender', 'accent']).size()

gender  accent
female  england     4632
        us         30675
male    england    20285
        us         14986
dtype: int64

In [45]:
validation_df.groupby(['gender', 'accent']).size()

gender  accent
female  england     977
        us         4019
male    england    2232
        us         2723
dtype: int64

In [46]:
test_df.groupby(['gender', 'accent']).size()

gender  accent
female  england     3021
        us         11719
male    england     5004
        us          9812
dtype: int64

In [47]:
train_paths = train_df["path"].tolist()
val_paths = validation_df["path"].tolist()
test_paths = test_df["path"].tolist()

In [48]:
# Define filter functions
def filter_train(example):
    return example['path'] in train_paths

def filter_val(example):
    return example['path'] in val_paths

def filter_test(example):
    return example['path'] in test_paths

# Apply filters to create datasets
train_dataset = filtered_dataset.filter(filter_train)
val_dataset = filtered_dataset.filter(filter_val)
test_dataset = filtered_dataset.filter(filter_test)

100%|██████████| 302/302 [1:03:56<00:00, 12.70s/ba]
100%|██████████| 302/302 [42:18<00:00,  8.40s/ba]
100%|██████████| 302/302 [43:09<00:00,  8.58s/ba]

In [49]:
df_select_drift = df.loc[df["accent"] != '']
df_select_drift = df_select_drift.loc[df_select_drift["gender"] != '' ]
df_select_drift_accent = df_select_drift.loc[df_select_drift['accent'].isin(drift_accents)]

In [50]:
drift_paths = df_select_drift_accent["path"].tolist()

In [51]:
def filter_drift(example):
    return example['path'] in drift_paths

In [52]:
drift_dataset = filtered_dataset.filter(filter_drift)

100%|██████████| 302/302 [41:18<00:00,  8.21s/ba]

In [53]:
drift_dataset[0]['accent']

'canada'

In [54]:
from datasets import DatasetDict

In [55]:
# Combine the datasets
final_datasets = DatasetDict({
    'train': train_dataset,
    'test': val_dataset,
    'new_unseen': test_dataset,
    'drift': drift_dataset
})

In [56]:
final_datasets

DatasetDict({
    train: Dataset({
        features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
        num_rows: 70578
    })
    test: Dataset({
        features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
        num_rows: 9951
    })
    new_unseen: Dataset({
        features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
        num_rows: 29556
    })
    drift: Dataset({
        features: ['client_id', 'path', 'audio', 'sentence', 'up_votes', 'down_votes', 'age', 'gender', 'accent', 'locale', 'segment'],
        num_rows: 42697
    })
})

In [57]:
# Save the dataset to disk
final_datasets.save_to_disk("data")

Flattening the indices: 100%|██████████| 71/71 [00:08<00:00,  8.08ba/s]
Flattening the indices: 100%|██████████| 10/10 [00:01<00:00,  7.24ba/s]
Flattening the indices: 100%|██████████| 30/30 [00:04<00:00,  7.28ba/s]
Flattening the indices: 100%|██████████| 43/43 [00:06<00:00,  6.77ba/s]